    /**************************/
    /* HEADER */
    /**************************/
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Because we want header to be sticky later */
        height: 9.6rem;
        padding: 0 4.8rem;
        position: relative;
    }
    
    .logo {
        height: 3.2rem;
    }
    /**************************/
    /* NAVIGATION */
    /**************************/
    
    .main-nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4.8rem;
    }
    
    .main-nav-link:link,
    .main-nav-link:visited {
        display: inline-block;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 1.8rem !important;
        transition: all 0.3s;
    }
    
    .main-nav-link:hover,
    .main-nav-link:active {
        color: #458FF6;
    }
    
    .main-nav-link.nav-cta:link,
    .main-nav-link.nav-cta:visited {
        padding: 1.2rem 2.4rem;
        border-radius: 9px;
        color: #fff;
        background-color: #458FF6;
        border-radius: 55px;
    }
    
    .main-nav-link.nav-cta:hover,
    .main-nav-link.nav-cta:active {
        box-shadow: 0 5px 15px #458FF6;
    }
    /* MOBILE */
    
    .btn-mobile-nav {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
    }
    
    .icon-mobile-nav {
        height: 4.8rem;
        width: 4.8rem;
        color: #333;
    }
    
    .icon-mobile-nav[name="close-outline"] {
        display: none;
    }
    /* STICKY NAVIGATION */
    
    .sticky .header {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(255, 255, 255, 0.97);
        z-index: 999;
        box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
    }
    
    .sticky .section-hero {
        margin-top: 9.6rem;
    }
    /**************************/
    /* HERO SECTION */
    /**************************/
    
    .section-hero {
        /* background-color: #fef2f5cc; */
        padding: 4.8rem 0 9.6rem 0;
        position: relative;
    }
    
    .hero {
        max-width: 130rem;
        margin: 0 auto;
        padding: 0 3.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 9.6rem;
        align-items: center;
    }
    
    .section-hero::before {
        content: url(../img/hero-pattern.svg);
        z-index: 1;
        position: absolute;
    }
    
    .hero-description {
        font-size: 2rem;
        line-height: 1.6;
        margin-bottom: 4.8rem;
    }
    
    .hero-img {
        width: 100%;
    }
    /**************************/
    /* FEATURED IN SECTION */
    /**************************/
    
    .section-featured {
        margin: 0 auto;
        padding: 4.8rem 0 3.2rem 0;
        max-width: 100rem;
        padding-bottom: 9.6rem;
    }
    
    .heading-featured-in {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2.4rem;
        color: #047397;
        border: 1px solid #047397;
        border-radius: 50px;
        padding: 1.6rem;
        margin-bottom: 1.6rem;
        width: fit-content;
        display: inline-block;
    }
    
    .logos {
        display: flex;
        justify-content: space-around;
        padding-top: 2rem;
    }
    
    .logos img {
        height: 4rem;
    }
    
    .logos .logos__bigger {
        height: 6rem;
    }
    
    .center {
        text-align: center;
    }
    /**************************/
    /* HOW IT WORKS SECTION */
    /**************************/
    
    .section-how {
        padding: 9.6rem 0;
    }
    
    .step-number {
        font-size: 8.6rem;
        font-weight: 600;
        color: #ddd;
        margin-bottom: 1.2rem;
    }
    
    .step-description {
        font-size: 1.8rem;
        line-height: 1.8;
    }
    
    .step-img {
        width: 90%;
    }
    /* *Header New */
    
    .header {
        width: 100%;
        height: 9rem;
        z-index: 100;
        margin: 0 auto;
        background: var(--color-white);
        padding-top: 1rem;
    }
    
    .header .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 2rem;
        max-width: 100%;
        height: 4rem;
        margin: 0 auto;
    }
    
    .header .menu>.menu-item {
        position: relative;
        display: inline-block;
        margin: 0 0.75rem;
    }
    
    .header .menu>.menu-item>a {
        display: block;
        /* font-family: inherit; */
        font-size: 1.8rem;
        font-weight: 500;
        line-height: inherit;
        padding: 1rem 0;
        border: none;
        outline: none;
        color: var(--color-black);
        text-transform: capitalize;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    .header .menu>.menu-item>a .expand {
        position: relative;
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.35rem;
        pointer-events: none;
        border: none;
        outline: none;
    }
    
    .header .menu>.menu-item>a .expand:before,
    .header .menu>.menu-item>a .expand:after {
        position: absolute;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
        content: "";
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background: var(--color-black);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    .header .menu>.menu-item:hover>a {
        color: #458FF6;
    }
    
    .header .menu>.menu-item:hover>a .expand::before,
    .header .menu>.menu-item:hover>a .expand::after {
        text-shadow: 0 5px 5px #458FF6;
    }
    
    .header .menu>.menu-item>a .expand::after {
        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item>a:hover {
        color: #458FF6;
    }
    
    .header .menu>.menu-item>.sub-menu {
        position: absolute;
        top: 100%;
        left: -1rem;
        width: 26rem;
        height: auto;
        padding: 0.75rem 0;
        border: none;
        outline: none;
        opacity: 0;
        visibility: hidden;
        border-top: 3px solid #458FF6;
        background: var(--color-white);
        -webkit-box-shadow: var(--shadow-medium);
        box-shadow: var(--shadow-medium);
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item {
        display: block;
    }
    
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        display: block;
        /* font-family: inherit; */
        font-size: 1.8rem;
        font-weight: 500;
        line-height: inherit;
        padding: 0.5rem 1.25rem;
        color: var(--color-black);
        text-transform: capitalize;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    .header .burger {
        position: relative;
        cursor: pointer;
        display: none;
        width: 1.75rem;
        height: 1rem;
        margin-top: -0.25rem;
        outline: none;
        opacity: 0;
        visibility: hidden;
        background: none;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    .header .burger-line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: var(--color-black);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    
    .header .burger-line:nth-child(1) {
        top: 0;
    }
    
    .header .burger-line:nth-child(2),
    .header .burger-line:nth-child(3) {
        top: 0.5rem;
    }
    
    .header .burger-line:nth-child(4) {
        top: 1rem;
    }
    
    .header .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.65);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    
    @media only screen and (min-width: 59em) {
        .header .menu>.menu-item-child:hover>.sub-menu {
            display: block;
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        .header .menu>.menu-item-child:hover>a .expand::after {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
    
    @media only screen and (max-width: 59em) {
        .header .overlay.active {
            display: block;
            opacity: 1;
            visibility: visible;
        }
        .header .menu>.menu-item>a {
            padding: 0;
        }
        .header .navbar {
            position: fixed;
            top: 0;
            left: -100%;
            width: 75%;
            height: 100%;
            z-index: 999;
            opacity: 0;
            overflow-y: auto;
            visibility: hidden;
            background: var(--color-white);
            -webkit-box-shadow: var(--shadow-medium);
            box-shadow: var(--shadow-medium);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .header .navbar.active {
            left: 0rem;
            opacity: 1;
            visibility: visible;
        }
        .header .menu {
            width: 100%;
            height: auto;
            margin: 1rem 0;
        }
        .header .menu>.menu-item {
            display: block;
            margin: 0;
            width: fit-content;
        }
        .header .menu>.menu-item-child {
            width: fit-content;
        }
        .header .menu>.menu-item-child>a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            /* width: fit-content; */
        }
        .header .menu>.menu-item>a {
            /* padding: 0.625rem 0; */
            color: var(--color-black);
        }
        .header .menu>.menu-item>a .expand::before,
        .header .menu>.menu-item>a .expand::after {
            background: var(--color-black);
        }
        .header .menu>.menu-item-child.active>a .expand:after {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }
        .header .menu>.menu-item>.sub-menu {
            position: relative;
            top: auto;
            left: auto;
            width: 100%;
            max-height: 0;
            padding: 0px;
            border: none;
            outline: none;
            opacity: 1;
            overflow: hidden;
            visibility: visible;
            background: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            padding-top: 1.4rem;
        }
        .header .menu>.menu-item>.sub-menu>.menu-item>a {
            padding: 0.625rem 2rem;
            color: var(--color-black);
        }
        .header .burger {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
    
    .feature {
        background: #FFFFFF;
        /* drop shadow */
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        padding: 5.4rem 3.2rem;
    }
    
    .feature-icon {
        color: #047397;
        height: 3.2rem;
        width: 3.2rem;
        background-color: #e0f7fe;
        margin-bottom: 3.2rem;
        padding: 1.6rem;
        border-radius: 50%;
    }
    
    .feature-icons {
        padding: 1.6rem;
        width: 5.6rem;
    }
    
    .feature-iconz {
        background-color: #e0f7fe;
        width: 6.4rem;
        height: 6.4rem;
        margin-bottom: 3.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .features--align {
        padding-bottom: 2rem;
    }
    
    .feature-title {
        font-size: 2.4rem;
        color: #333;
        font-weight: 700;
        margin-bottom: 1.6rem;
    }
    
    .feature-text {
        font-size: 1.6rem;
        line-height: 1.8;
    }
    
    .services {
        position: relative;
    }
    
    .services::before {
        content: url(../img/pattern.svg);
        position: absolute;
        margin-top: -20rem;
        z-index: -10;
    }
    
    .services::after {
        content: url(../img/element.svg);
        position: absolute;
        /* margin-top: -20rem; */
        right: 0;
        top: 0;
        z-index: -10;
    }
    /* ****************** */
    /* CTA SECTION */
    /* ****************** */
    
    .section-cta {
        padding: 4.8rem 0 12.8rem;
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
        position: relative;
    }
    
    .section-cta::before {
        content: url(../img/contact-element-top.svg);
        /* opacity: 0.6; */
        transform: rotate(-159.84deg);
        z-index: -10;
        position: absolute;
        right: 0;
    }
    
    .cta {
        display: grid;
        grid-template-columns: 3fr 2fr;
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        background-image: linear-gradient(to right bottom, #fff, #fff, #67C3F3);
        border-radius: 24px;
        overflow: hidden;
    }
    
    .cta-text-box {
        padding: 4rem 6.4rem 6.4rem 6.4rem;
        color: #071620;
    }
    
    .cta .heading-secondary {
        /* color: #071620; */
        color: inherit;
        margin-bottom: 3.2rem;
    }
    
    .cta-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 4.8rem;
        font-weight: 400;
    }
    
    .cta-img-box {
        background-image: linear-gradient(to right bottom, #67C3F359, #67C3F359), url("../img/pexels-jeff-denlea-3714743.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .cta-form {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3.2rem;
        row-gap: 2.4rem;
    }
    
    .cta-form input,
    .cta-form select,
    .cta-form textarea {
        padding: 1.2rem;
        font-size: 1.8rem;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: rgba(255, 238, 244, 0.068);
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        text-align: start;
    }
    
    .footer-nav .cta-form input {
        background-color: #fff;
    }
    
    .cta-form input,
    .cta-form select {
        width: 100%;
    }
    
    .cta-form textarea {
        width: 100%;
    }
    
    .cta-form label {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    
    .cta-form input::placeholder {
        color: #aaa;
    }
    
    .cta-form textarea::placeholder {
        color: #aaa;
    }
    
    .cta *:focus {
        outline: none;
        box-shadow: 0 0 0 0.8rem #ffeef4;
    }
    
    .cta .heading-second {
        padding-top: 2rem;
    }
    
    .btn--white {
        background-color: #458FF6;
        border-radius: 55px;
        width: fit-content;
        display: flex;
        justify-self: center;
    }
    /* ****************** */
    /* FOOTER */
    /* ****************** */
    
    footer {
        font-size: 14px;
        color: white;
        display: flex;
        justify-items: center;
        align-items: center;
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
        padding: 8.8rem 0;
        font-weight: 400;
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
        position: relative;
    }
    
    footer::before {
        content: url(../img/footer-element.svg);
        /* z-index: -10; */
        position: absolute;
        bottom: 0;
    }
    
    footer::after {
        content: url(../img/footer-element-top.svg);
        /* z-index: -10; */
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -8rem;
        margin-right: 8rem;
    }
    
    .footer {
        padding: 12.8rem 0;
        font-weight: 400;
    }
    
    .grid--footer {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
    
    .logo-col {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: 1.4rem;
    }
    
    .footer-logo {
        display: block;
        margin-bottom: 3.2rem;
    }
    
    .social-links {
        list-style: none;
        display: flex;
        gap: 2.4rem;
        margin-left: 0;
    }
    
    ul {
        padding-inline-start: 0;
    }
    
    .social-icon {
        height: 3.6rem;
        width: 3.6rem;
    }
    
    .social-links a:hover {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
    
    .copyright {
        font-size: 1.6rem;
        line-height: 1.6;
        color: white;
        margin-top: auto;
    }
    
    .footer-heading {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }
    
    .contacts {
        font-style: normal;
        font-size: 1.6rem;
        line-height: 1.6;
    }
    
    .address-col {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: 1.6rem;
        padding-top: 3rem;
    }
    
    .footer-link:link,
    .footer-link:visited {
        text-decoration: none;
        font-size: 1.6rem;
        color: white;
        transition: all 0.3s;
    }
    
    .footer-link:hover,
    .footer-link:active {
        color: white;
        cursor: pointer;
    }
    
    .footer-nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .bottom {
        display: flex;
        gap: 2rem;
        align-items: start;
    }
    
    .btn-app-2 img {
        /* width: fit-content; */
        width: 135px;
        height: 40px;
    }
    
    .final {
        font-size: 1.6rem;
    }
    
    .footer .btn {
        width: 30rem;
    }